<h1>Hey, here is you first resources shown from the show action of the controller</h1>

<div> The name of the meme is : <h2> <%= @fun.name%> </h2> 
<p><%= @fun.content%></p>
<div>Published by : <%= @fun.author %></div>
</div>